<div class="uk-flex uk-container-expand uk-height-viewport uk-flex-middle uk-flex-center uk-background-blend-soft-light">
  <div>
    <h5 class="uk-heading-large"> RESTCountries</h5>
    <div class="uk-flex uk-flex-between uk-margin-large-top">
      <a routerLink="names" class="uk-button uk-button-primary uk-button-large uk-border-rounded">Kraj</a>
      <a routerLink="capital" class="uk-button uk-button-primary uk-button-large uk-border-rounded">Stolica</a>
      <a routerLink="results" class="uk-button uk-button-primary uk-button-large uk-border-rounded">Waluta</a>
    </div>
  </div>


</div>
